@{
    ViewData["Title"] = "Register";
}
<div class="col-md-12">
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Create">Register as client</a>  
    </div>

    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hotel" asp-action="Register">Register your hotel</a>  
    </div>
</div>
